header {
  max-height: 72px;
  padding: 10px 8px;
  background-color: white !important;
}

.nav {
  display: flex;
  gap: 24px;
  div {
    text-align: center;
  }
}

.gapping {
  justify-content: unset !important;
  gap: 63px !important;
}

img.searchIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.posRel.input {
  height: 52px;
  width: 342px;
}

.posRel.input input {
  border: 1px solid rgba(146, 144, 144, 1);
  border-radius: 12px;
  width: 100%;
  background: #efefef;
  height: 100%;
  padding: 16px 36px 16px 16px;

  &::placeholder {
    font-size: 14px;
  }
}

.postBtn {
  display: flex;
  width: 105px;
  height: 44px;
  padding: 16px 8px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  color: white;
  flex-shrink: 0;
  font-family: Roboto !important;
  border-radius: 92px;
  justify-content: center;
  background: linear-gradient(
    94deg,
    #252424 4.48%,
    #252424 4.49%,
    #424242 87.94%
  );
  border: 0;
}

.greenMark {
  position: absolute;
  bottom: -4px;
  right: 0px;
}
