<div class="continueCard">
  <div class="thumbnail">
    <img [src]="data.Thumbnail" alt="" />
    <p class="timing">{{ data.duration }}</p>
  </div>
  <svg *ngIf="data.progress as prgrs"
    xmlns="http://www.w3.org/2000/svg"
    height="4"
    style="width: 100%"
    viewBox="0 0 360 4"
    fill="none"
  >
    <path d="M0 2H360" stroke="#D0D0D0" stroke-width="3" />
    <path
      d="M0 2 H360"
      stroke="#E2504B"
      stroke-width="3"
      stroke-dasharray="360"
      [attr.stroke-dashoffset]="dashOffset(prgrs)"
    />
  </svg>
  <div class="downpart">
    <h3>
      {{ data.description }}
    </h3>
    <div class="titleOfCon">
      <p class="eli">{{ data.uploadedBy.name }}</p>
      <img src="/assets/icons/Ellipse 2991.png" alt="" />
      <p *ngIf="data?.uploadedBy?.minLeft as minLeft">
        {{ minLeft | timeLeft }}
      </p>
    </div>
  </div>
</div>
