<div class="layoutContainer">
  <h1>Webinar</h1>

  <div class="tabContainer">
    <ul>
      <li
        *ngFor="let tab of tabs"
        [ngClass]="{ active: active == tab }"
        (click)="active = tab"
      >
        {{ tab }}
      </li>
    </ul>
  </div>

  <ng-container *ngIf="active == 'Live' || active == 'For you'">
    <app-webinar-section
      title="Live Webinars"
      [webinars]="liveWebinars"
      [type]="'Live'"
    ></app-webinar-section>
  </ng-container>

  <ng-container *ngIf="active == 'Upcoming' || active == 'For you'">
    <app-webinar-section
      title="Upcoming Webinars"
      [webinars]="upcomingWebinars"
      [type]="'Upcoming'"
    ></app-webinar-section>
  </ng-container>

  <ng-container *ngIf="active == 'For you'">
    <app-webinar-section
      title="Continue watching"
      [webinars]="webinars"
      [type]="'Continue'"
    ></app-webinar-section>
  </ng-container>

  <ng-container *ngIf="active == 'For you'">
    <app-webinar-section
      title="Webinars based on cardiology"
      [webinars]="webinars"
      [type]="'cardiology'"
    ></app-webinar-section>
  </ng-container>
</div>
