<div class="layoutContainer container">
  <h1 class="d-none d-md-block">Webinar</h1>

  <div class="between d-md-none" style="padding: 16px 0">
    <div class="center gap12">
      <img src="/assets/icons/Arrow.png" alt="" />
      <h2 class="m-0">Webinar</h2>
    </div>
    <div class="gap24">
      <img src="/assets/icons/Search.png" alt="" class="searchIcon" />
      <img src="/assets/icons/Filter.png" alt="" />
    </div>
  </div>

  <div
    class="tabContainer d-md-flex justify-content-md-between align-items-md-start"
  >
    <ul>
      <li
        *ngFor="let tab of tabs"
        [ngClass]="{ active: active == tab }"
        (click)="active = tab"
      >
        {{ tab }}
      </li>
    </ul>

    <img
      class="d-none d-md-block d-lg-none"
      src="/assets/icons/Filter.png"
      alt=""
    />
  </div>
  <ng-container *ngIf="active == 'Live' || active == 'For you'">
    <app-webinar-section
      title="Live Webinars"
      [webinars]="liveWebinars"
      [type]="'Live'"
    ></app-webinar-section>
  </ng-container>

  <ng-container *ngIf="active == 'Upcoming' || active == 'For you'">
    <app-webinar-section
      title="Upcoming Webinars"
      [webinars]="upcomingWebinars"
      [type]="'Upcoming'"
    ></app-webinar-section>
  </ng-container>

  <ng-container *ngIf="active == 'For you'">
    <app-webinar-section
      title="Continue watching"
      [webinars]="continueWatching"
      [type]="'Continue'"
    ></app-webinar-section>
  </ng-container>

  <div class="browsByTopic d-block d-md-none">
    <div class="between">
      <p>Browse by topic</p>
      <button class="btn viewAll Small d-flex">
        <p>View all</p>
        <img
          style="transform: rotate(180deg)"
          src="/assets/icons/Arrow.png"
          alt=""
          height="16"
          width="16"
        />
      </button>
    </div>

    <div class="topicCards">
      <div class="card" (click)="topicOfBased = 'cardiology'">cardiology(12)</div>
      <div class="card" (click)="topicOfBased = 'Pain management'">Pain management(12)</div>
      <div class="card" (click)="topicOfBased = 'Primary care'">Primary care(12)</div>
      <div class="card" (click)="topicOfBased = 'Infection Medicine'">Infection Medicine(4)</div>
    </div>
    <img class="scroller" src="/assets/icons/Group 1171283786.png" alt="" />
  </div>

  <ng-container *ngIf="active == 'For you'">
    <app-webinar-section
      title="Webinars based on {{topicOfBased}}"
      [webinars]="webinarsBased"
      [type]="'Based'"
    ></app-webinar-section>
  </ng-container>

  <ng-container>
    <app-webinar-section
      title="Top Speakers"
      [speakers]="topSpeakers"
      [type]="'speakers'"
    ></app-webinar-section>
  </ng-container>
</div>
