<div [ngClass]="{ marginBottom40: type != 'Live' }">
  <div class="between headingH3 d-none d-md-flex">
    <h2 class="m-0">{{ title }}</h2>
    <button class="btn viewAll">View all</button>
  </div>

  <div [ngClass]="{ live: type == 'Live', 'p-0': type != 'Live' }">
    <div class="between mzro d-flex d-md-none">
      <h2 class="m-0">{{ title }}</h2>
      <button class="btn viewAll Small d-flex">
        <p>View all</p>
        <img
          style="transform: rotate(180deg)"
          src="/assets/icons/Arrow.png"
          alt=""
          height="16"
          width="16"
        />
      </button>
    </div>
    <div class="section">
      <ng-container *ngIf="type != 'speakers'">
        <ng-container *ngFor="let webinar of webinars">
          <ng-container *ngIf="type == 'Continue'">
            <div class="continueWatchingCard">
              <app-continue-watching [data]="webinar"></app-continue-watching>
            </div>
          </ng-container>

          <ng-container *ngIf="type != 'Continue'">
            <div class="cards">
              <app-webinar-card [type]="type" [data]="webinar">
              </app-webinar-card>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let speaker of speakers">
        <div class="s">
          <app-top-speakers [type]="type" [data]="speaker"></app-top-speakers>
        </div>
      </ng-container>
    </div>
  </div>
</div>
