@import 'src/variables';

.speakersCard {
  width: 224px;
  height: 222px;
  flex-shrink: 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(9, 9, 9, 0.04);
  position: relative;
  background: linear-gradient(180deg, #e9a373 -59.66%, #fff 32.07%);

  h3 {
    margin-bottom: 4px;

  }
  .name {
    font-size: 13px !important;
    color: #737171;
  }
  img {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    border: 2px solid #e2504b;
    padding: 4px;
  }
  button {
    margin-top: 16px;
    width: 100%;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid var(--Primary-Black, #1d1919);
    background: var(--Primary-White, #fff);
  }
}

.widthManagement {
  display: flex;
  width: 90px;
  margin-bottom: 10px;
}
.liveTag {
  position: absolute;
  bottom: -5px;
  background: #e2504b;
  left: 50%;
  gap: 8px;
  transform: translateX(-50%);
  display: flex;
  border-radius: 28px;
  color: white;
  padding: 3px 8px;
  align-items: center;
  justify-content: center;
  img {
    height: 15px;
    width: 15px;
    outline: 0;
    padding: 0;
  }
  p {
    font-size: 11px !important;
  }
}
